{% extends 'mainapp/base.html' %}
{% block title %}
<title>Каталог</title>
{% endblock title %}
{% block menu %}
{% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}
{% block content %}
{% load static %}
            <h1>Каталог</h1>
            <div class="photo-catalogue">
            {% for product in products %}
                <div class="photoimg">
                    <a href="{% url 'CG318-4K' %}"><img src=/media/{{ product.image }} alt="{{ product.short_desc }}" class="img-catalogue"></a>
                    <p>{{ product.name }}</p>
                    <a href="{% url 'CG318-4K' %}" class="href-brown">Перейти к описанию</a>
                </div>
            {% endfor %}
            </div>
{% endblock %}
