{% extends 'mainapp/base.html' %}
{% block title %}
<title>Каталог</title>
{% endblock title %}
{% block menu %}
{% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}
{% block content %}
{% load static %}
            <h1>Каталог</h1>
            <div class="photo-catalogue">
            {% for product in products %}
                <div class="photoimg">
                    <a href="{% url 'CG318-4K' %}"><img src=/media/{{ product.image }} alt="{{ product.short_desc }}" class="img-catalogue"></a>
                    <p>{{ product.name }}</p>
                    <a href="{% url 'CG318-4K' %}" class="href-brown">Перейти к описанию</a>
                </div>
            {% endfor %}
                  <div class="description">
                      <img src="/media/{{ hot_product.image }}" alt="" class="img-catalogue">
        <h3 class="big-bold">{{ hot_product.name }}</h3>
        <h3 class="red">горячее предложение</h3>
        <p class="price">{{ hot_product.price }} <span>руб</span></p>
        <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
          заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        <div class="description-text">
          {{ hot_product.description }}
        </div>
    </div>
            </div>

{% endblock %}
