{% extends 'mainapp/base.html' %}
{% block title %}
<title>Монитор Eizo ColorEdge CG318-4K</title>
{% endblock title %}
{% block menu %}
{% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}
{% block content %}
{% load static %}
 <h1>Монитор Eizo ColorEdge CG318-4K</h1>
            <div class="photo-set">
                <div class="photo-goods">
                    <a href="{% static 'img/t1.img' %}" target="_blank">
                        <img src="{% static 'img/t1.img' %}" alt="Монитор Eizo ColorEdge CG318-4K" class="border-monitor">
                    </a>
                </div>
                <div class="prev-set">
                    <h3 class="ful-h-goods easyset">Описание товара</h3>
                    <ul class="short-set">
                        <li>ЖК-монитор с&nbsp;диагональю 31.1&Prime;</li>
                        <li>тип матрицы экрана TFT IPS</li>
                        <li>разрешение 4096&times;2160</li>
                        <li>подключение: HDMI, DisplayPort</li>
                        <li>яркость 350&nbsp;кд/м2</li>
                        <li>контрастность 1500:1</li>
                        <li>время отклика 9&nbsp;мс</li>
                        <li>USB-хаб</li>
                    </ul>
                    <div class="buy-goods">
                    <form action="">
                    <button type="submit" class="buy">КУПИТЬ</button>
                    </form>
                    </div>
                </div>
            </div>
            <h3 class="ful-h-goods">Характеристики товара</h3>
            <table class="table1">
                <tr class="t1-tr1">
                    <td class="t1-str1">Характеристика</td>
                    <td class="t1-str1">Тип</td>
                    <td class="t1-str1">Диагональ</td>
                    <td class="t1-str1">Разрешение</td>
                    <td class="t1-str1">Тип матрицы экрана</td>
                    <td class="t1-str1">Подсветка</td>
                    <td class="t1-str1">Макс. частота<br>обновления кадров</td>
                </tr>
                <tr class="t1-tr2">
                    <td class="t1-str2">Значение</td>
                    <td class="t1-str2">ЖК-монитор</td>
                    <td class="t1-str2">31</td>
                    <td class="t1-str2">4096&times;2160</td>
                    <td class="t1-str2">TFT IPS</td>
                    <td class="t1-str2">LED</td>
                    <td class="t1-str2">71&nbsp;Гц</td>

                </tr>
            </table>
            <ul class="med-set">
                <li>Тип&nbsp;&mdash; ЖК-монитор</li>
                <li>Диагональ&nbsp;&mdash; 31</li>
                <li>Разрешение&nbsp;&mdash; 4096&times;2160</li>
                <li>Тип матрицы экрана&nbsp;&mdash; TFT IPS</li>
                <li>Подсветка&nbsp;&mdash; LED</li>
                <li>Макс. частота обновления кадров&nbsp;&mdash; 71&nbsp;Гц</li>
            </ul>
            <h3 class="ful-h-goods">Подробное описание товара</h3>
            <ul class="long-set">
                <li><b>Экран</b>
                    <ul>
                        <li>Шаг точки по&nbsp;горизонтали&nbsp;&mdash; 0.1704&nbsp;мм</li>
                        <li>Шаг точки по&nbsp;вертикали&nbsp;&mdash; 0.1704&nbsp;мм</li>
                        <li>Яркость&nbsp;&mdash; 350&nbsp;кд/м2</li>
                        <li>Контрастность&nbsp;&mdash; 1500:1</li>
                        <li>Время отклика&nbsp;&mdash; 9&nbsp;мс</li>
                        <li>Область обзора&nbsp;&mdash; по&nbsp;горизонтали: 178&deg;, по&nbsp;вертикали: 178&deg;</li>
                        <li>Максимальное количество цветов&nbsp;&mdash; более 1&nbsp;млрд.</li>
                    </ul>
                </li>
            </ul>
            <ul class="long-set">
                <li><b>Сигнал</b>
                    <ul>
                        <li>Частота обновления&nbsp;&mdash; строк: 15-137&nbsp;кГц; кадров: 23-71&nbsp;Гц</li>
                    </ul>
                </li>
            </ul>
            <ul class="long-set">
                <li><b>Подключение</b>
                    <ul>
                        <li>Входы&nbsp;&mdash; HDMI x2, DisplayPort, x2</li>
                        <li>Интерфейсы&nbsp;&mdash; USB Type A&nbsp;x3, USB Type B</li>
                        <li>USB-концентратор&nbsp;&mdash; есть, количество портов: 3</li>
                        <li>Версия USB&nbsp;&mdash; USB 3.0 </li>
                    </ul>
                </li>
            </ul>
            <ul class="long-set">
                <li><b>Функции</b>
                    <ul>
                        <li>Функциональность&nbsp;&mdash; калибровка цвета, компенсация неравномерности подсветки</li>
                    </ul>
                </li>
            </ul>
            <ul class="long-set">
                <li><b>Питание</b>
                    <ul>
                        <li>Блок питания&nbsp;&mdash; встроенный </li>
                        <li>Потребляемая мощность&nbsp;&mdash; при работе: 140&nbsp;Вт, в&nbsp;режиме ожидания: 9&nbsp;Вт, в&nbsp;спящем режиме: 9&nbsp;Вт</li>
                    </ul>
                </li>
            </ul>
            <ul class="long-set">
                <li><b>Дополнительно</b>
                    <ul>
                        <li>Регулировка по&nbsp;высоте&nbsp;&mdash; есть</li>
                        <li>Настенное крепление &nbsp;&mdash; есть, 100&times;100&nbsp;мм</li>
                        <li>Размеры, вес&nbsp;&mdash; 735&times;434&times;245&nbsp;мм, 11.30&nbsp;кг</li>
                    </ul>
                </li>
            </ul>
            <a href="#top" class="top-anchor">Наверх</a>
{% endblock content %}
