            <div class="menu-pos">
                <ul class="ul-li">
                    <li class="menu-li"><a href="{% url 'main' %}" class="menu" style="{% if request.resolver_match.url_name == 'main' %}color: black;{% endif %}">{{menu.main}}</a></li>
                    <li class="menu-li"><a href="{% url 'catalogue:index' %}" class="menu" style="{% if request.resolver_match.namespace == 'catalogue' %}color: black;{% endif %}">{{menu.catalogue}}</a>
                        <ul class="ul-li-cat">
                            {% for cat in prod_cat %}
                            <li class="">
                            <a href="#" class="">{{ cat.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="menu-li"><a href="{% url 'contacts' %}" class="menu" style="{% if request.resolver_match.url_name == 'contacts' %}color: black;{% endif %}">{{menu.contacts}}</a></li>
                </ul>
            </div>