<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <meta charset="UTF-8">
    {% block title %}
    
    {% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
</head>

<body>
   <div class="wrapper">
   <div class="top">
    <div class="container slider">
    <div class="head-content padding-site">
        <div class="header">

                <a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" alt="логотип"></a>


        {% if user.is_authenticated %}

      <a href="{% url 'auth:edit' %}" class="menu">
        {{ user.first_name|default:'Пользователь' }}
      </a>
  {% endif %}
  {% if user.is_superuser %}
      <a href="{% url 'admin:users' %}" class="menu">Админка</a>
  {% endif %}
    {% if user.is_authenticated %}
      <a href="{% url 'auth:logout' %}" class="menu">Выйти</a>

            {% else %}
            <a href="{% url 'auth:login' %}" class="menu">Войти</a>
            <a href="{% url 'auth:register' %}" class="menu">Зарегистрироваться</a>
        {% endif %}
{% block menu %}
{% endblock menu %}
        </div>

            {%  if request.resolver_match.url_name == 'main' %}
            <div class="content">
                        <h1>Технозона</h1>
            <p>Уважаемый пользователь, Вы находитесь на сайте магазина электроники ООО "Технозона".<br>
                С ассортиментом товаров Вы можете ознакомиться перейдя в "Каталог".<br>
                Для обратной связи используйте пункт меню "Контакты". Удачных покупок!</p>
            </div>

        {% endif %}
    </div>
        <div class="content padding-site">
            {% block content %}
            {% endblock content %}
        </div>
       </div>
       </div>
        <div class="container">
        <div class="footer padding-site">
            <p class="security">&copy;&nbsp;Все права защищены</p>
        </div>
        </div>
    </div>
</body>
</html>