{% extends 'mainapp/base.html' %}
{% block title %}
<title>Техномаг. Магазин электроники</title>
{% endblock title %}
{% block menu %}
{% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}
{% block content %}
            <h1>Технозона</h1>
            <p>Уважаемый пользователь, Вы находитесь на сайте магазина электроники ООО "Технозона".<br>
                С ассортиментом товаров Вы можете ознакомиться перейдя в "Каталог".<br>
                Для обратной связи используйте пункт меню "Контакты". Удачных покупок!</p>
{% endblock content %}